<div class="container-fluid">
  <div class="row">
    
    <div class="col-lg-2 col-md-2 mt-5"  *ngFor="let client of clients">
      <div class="card text-center">
        <img class="card-img-top" src="././assets/img/clientIcon.png" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">{{client.nom}} {{client.prenom}}</h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <a href=""><i class="fas fa-map"></i></a>
            </div>
            <div class="col">
              <a href="mailto:{{client.email}}"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col">
              <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
   